<a href="https://colab.research.google.com/gist/ammar-s847/c01ed68f2157424f4ff2538207100825/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Snapcommerce Data Challenge

In [ ]:
data = 'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'
print(data)

Airline Code;DelayTimes;FlightCodes;To_From
Air Canada (!);[21, 40];20015.0;WAterLoo_NEWYork
<Air France> (12);[];;Montreal_TORONTO
(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa
12. Air France;[78, 66];;Ottawa_VANcouvER
""".\.Lufthansa.\.""";[12, 33];20055.0;london_MONTreal

In [ ]:
import pandas as pd
import numpy as np

list_df = [i for i in data.split('\n')]
header = list_df[0]
list_df = list_df[1:len(list_df)-1]
print(header)
print(list_df)

Airline Code;DelayTimes;FlightCodes;To_From
['Air Canada (!);[21, 40];20015.0;WAterLoo_NEWYork', '<Air France> (12);[];;Montreal_TORONTO', '(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa', '12. Air France;[78, 66];;Ottawa_VANcouvER', '""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal']

In [ ]:
list_df2 = []
for i in list_df:
    list_df2.append(i.split(';'))

print(list_df2)

[['Air Canada (!)', '[21, 40]', '20015.0', 'WAterLoo_NEWYork'], ['<Air France> (12)', '[]', '', 'Montreal_TORONTO'], ['(Porter Airways. )', '[60, 22, 87]', '20035.0', 'CALgary_Ottawa'], ['12. Air France', '[78, 66]', '', 'Ottawa_VANcouvER'], ['""".\\.Lufthansa.\\."""', '[12, 33]', '20055.0', 'london_MONTreal']]

In [ ]:
# Cleaning Airline Codes
import re

for i in list_df2:
    i[0] = re.sub(r'[^a-zA-Z ]+', '', i[0]).strip()

print(list_df2)

[['Air Canada', '[21, 40]', '20015.0', 'WAterLoo_NEWYork'], ['Air France', '[]', '', 'Montreal_TORONTO'], ['Porter Airways', '[60, 22, 87]', '20035.0', 'CALgary_Ottawa'], ['Air France', '[78, 66]', '', 'Ottawa_VANcouvER'], ['Lufthansa', '[12, 33]', '20055.0', 'london_MONTreal']]

In [ ]:
# Imputing Flight Codes
i = 0
while i < len(list_df2):
    if len(list_df2[i][2]) == 0:
        list_df2[i][2] = str(float(list_df2[i-1][2]) + 10)
    list_df2[i][2] = int(float(list_df2[i][2]))
    i += 1

print(list_df2)

[['Air Canada', '[21, 40]', 20015, 'WAterLoo_NEWYork'], ['Air France', '[]', 20025, 'Montreal_TORONTO'], ['Porter Airways', '[60, 22, 87]', 20035, 'CALgary_Ottawa'], ['Air France', '[78, 66]', 20045, 'Ottawa_VANcouvER'], ['Lufthansa', '[12, 33]', 20055, 'london_MONTreal']]

In [ ]:
# Splitting To_From Column
for i in list_df2:
    split_set = i[3].split('_')
    del i[3]
    i.append(split_set[0].lower().capitalize())
    i.append(split_set[1].lower().capitalize())

print(list_df2)

[['Air Canada', '[21, 40]', 20015, 'Waterloo', 'Newyork'], ['Air France', '[]', 20025, 'Montreal', 'Toronto'], ['Porter Airways', '[60, 22, 87]', 20035, 'Calgary', 'Ottawa'], ['Air France', '[78, 66]', 20045, 'Ottawa', 'Vancouver'], ['Lufthansa', '[12, 33]', 20055, 'London', 'Montreal']]

In [ ]:
# Converting to Pandas DataFrame
df = pd.DataFrame(
    list_df2,
    columns=['Airline Code', 'Delay Times', 'Flight Codes', 'To', 'From']
)
df.head()

     Airline Code   Delay Times  Flight Codes        To       From
0      Air Canada      [21, 40]         20015  Waterloo    Newyork
1      Air France            []         20025  Montreal    Toronto
2  Porter Airways  [60, 22, 87]         20035   Calgary     Ottawa
3      Air France      [78, 66]         20045    Ottawa  Vancouver
4       Lufthansa      [12, 33]         20055    London   Montreal